video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    left: 0;
    bottom: 0;
}

body {
    background-color: rgb(8, 8, 8);
}

h1 {
    padding: 0;
    margin: 0;
}

h5 {
    text-align: center;
}

h1, h2, h3, h4, h5 {
    color: rgb(200, 0, 31);
    font-family: 'Nasa', sans-serif;
}

.planeticon {
    width: 40px; 
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.spacepic {
    width: 100%;
    margin-top: 10px;
}

.row {
    padding: 1px;
    margin-top: 0;
    background: rgb(116, 160, 196);
    color: rgb(12, 12, 12);
    border-radius: 8px;

}

.row .col {
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 10px;
}

#main-block {
    overflow-y: scroll;
    height: 700px;
}

ul li {
    margin: 5px;
}

ul li a {
    font-size: 14pt;
    font-weight: bold;
    color: rgb(200, 0, 31);
    cursor: pointer;
    display: block;
    background: #cce5ff;
    padding: 5px;
    border-radius: 8px;
}

ul li a:hover {
    background: #7abaff;
}

ul li a.current {
    background: #48a0ff;
}